body {
    margin: 0;
    padding: 2em;
}


body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 100%;
    line-height: 1.5em;
    background: #eee;
}

a li {
    text-decoration: none;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .5em 0;
}

h1 {
    font-size: 3em;
    line-height: 1.2em;
}

h2 {
    font-size: 2.25em;
    line-height: 1.1em;
}

h3 {
    font-size: 1.5em;
    line-height: 1.2em;
}

h4 {
    font-size: 1.3125em;
    line-height: 1.3em;
}

h5 {
    font-size: 1.125em;
    line-height: 1.4em;
}

h6 {
    font-size: 1em;
    line-height: 1.5em;
}

p {
    margin: 0 0 .5em 0;
    max-width: 35em;
}

a {
    color: #39c;
    text-decoration: none;
}

a:hover {
    color: #069;
    text-decoration: underline;
}

a:focus {
    color: #39c;
}

a:visited {
    color: #39c;
}

.page-sub .hero {
    background: #888;
    min-height: 30vh;
}

